{% extends "layout.html" %}

{% block content %}
        <div class="my-3 my-md-5">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">IPFS Status</h3>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="form-label">Blog address</label>
                          <div class="input-group">
                            <input id="ipns-full-address" type="text" class="form-control" value="{{ vars.ipns_full_address }}" readonly>
                            <span class="input-group-append">
                              <button class="btn btn-secondary" type="button" onclick="copyIPNSToClipboard();"><i class="far fa-copy"></i></button>
                            </span>
                            <span class="input-group-append">
                              <a class="btn btn-primary" href="{{ vars.ipns_full_address }}">Open</a>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
