        <footer class="footer">
          <div class="container">
            <div class="row align-items-center flex-row-reverse">
              <div class="col-auto ml-lg-auto">
                <div class="row align-items-center">
                  <div class="col-auto">
                    Theme by <a href="https://codecalm.net" target="_blank">codecalm.net</a> All rights reserved.
                  </div>
                  <div class="col-auto">
                    <a href="https://github.com/tabler/tabler" class="btn btn-outline-primary btn-sm">Source code</a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                Copyright &copy; 2019 <a href="https://github.com/smashnet/LibreBlogging">LibreBlogging</a>.
              </div>
            </div>
          </div>
        </footer>
