<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="LibreBlogging - Your IPFS blog companion">
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="/static/css/app.css" />
  </head>
  <body {{ bodyclass }}>

    <header>
      Header
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>

    <footer class="text-muted">
      Footer
    </footer>

    <script src="/static/js/app.js"></script>
    {% block extrajs %}{% endblock %}
  </body>
</html>
